{
	"env": { "es6": true, "node": true },
	"parserOptions": { "sourceType": "module", "ecmaVersion": 6 },
	"extends": ["google", "plugin:prettier/recommended"],
	"rules": {
		"quotes": [
			"error",
			"single",
			{ "avoidEscape": true, "allowTemplateLiterals": false }
		]
	}
}
